.calendar {
  background-color: #8c0000;
  width: 170px;
  height: 190px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px;
  border: 1px solid #2c2c2c;
}
